.editor {
	grid-column: 9 span;
	height: 100%;
	overflow-y: auto;
	scroll-behavior: smooth;

	&__title {
		height: 50px;
		letter-spacing: 0.5px;
		line-height: 50px;
		padding: 0 10px;
		font-size: 15px;
		font-weight: bolder;
		color: var(--green-bright);
		background-color: var(--green-lighten);
		border-top-left-radius: 4px;
		border-top-right-radius: 4px;
		border: none;
		outline: none;

		.far {
			cursor: pointer;
			padding-right: 5px;
		}

		input {
			height: 30px;
			letter-spacing: 0.5px;
			line-height: 50px;
			font-size: 15px;
			font-weight: bolder;
			border-radius: 4px;
			border: none;
			outline: none;
		}
	}

	.quill {
		height: calc(100% - 50px);
		
		.ql-container {
			font-size: 16px;
			height: calc(100% - 42px);
		}
	}

	@media screen and (max-width: 680px) {
		width: 100%;
		margin: 0 auto;
	}

	@media screen and (max-width: 1110px) {
		.quill {
			.ql-container {
				height: calc(100% - 66px);
			}
		}
	}

	@media screen and (min-width: 1200px) {
		& {
			grid-column: 10 span;
		}
	}
}