.sign-up {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: calc(100% - var(--header-height) - var(--footer-height));
	width: auto;
	color: #212121;
	text-align: center;

	&__title {
		font-size: 22px;
	}
	
	&__description {
		font-size: 14px;
		margin-top: 10px;
		margin-bottom: 10px;
	}

	&__form {
		width: 100%;
	}

	.buttons-container {
		width: 100%;
		margin: auto;
		display: flex;
		flex-direction: column;

		& > * {
			margin: 5px 0;
		}
	}
}