.header {
    width: 100%;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--green);
    color: var(--font-light);
    margin-bottom: 10px;
    
    &__logo {
        font-size: 40px;
        padding-left: 10px;
        cursor: pointer;
        
        span:nth-child(1) {
            font-weight: bold;
            margin-right: 5px;
        }

        span:nth-child(2) {
            font-family: 'Shadows Into Light', cursive;
        }
    }

    &__sign-in-sign-out {
        padding-right: 10px;
        cursor: pointer;
    }

}